<!DOCTYPE html>
<html>
<head>
<title>Home Page Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>
{% include 'header.html' %}
{% load crispy_forms_tags %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="w3-large w3-light-grey">Username --> {{ user.username }}</h2>
        <p class="w3-large w3-light-grey">Email Id --> {{ user.email }}</p>
      </div>
      </div>
      <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Need to Change Profile Info ?</legend>
            {{ u_form|crispy}}
            {{ p_form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    </div>
 
{% include 'footer.html' %}
</body>